# coding: utf8

# Information for MS Cognitive Service.
COGNITIVE_KEY = '[place cognitive service api key here]'
COGNITIVE_HOST = 'api.projectoxford.ai'

# Information for Twitter API.
TW_ACCESS_TOKEN = '[place twitter access token here]'
TW_ACCESS_TOKEN_SEC = '[place twitter access token secter here]'
TW_CONSUMER_KEY = '[place twitter consumer key here]'
TW_CONSUMER_SEC = '[place twitter consumer secret here]'

# Trained person ids.
PEOPLE = {
    '[place person group name here]': {
        '[place person id here]': '[place person name here]',
        '[place person id here]': '[place person name here]',
    },
    # example
    'CYaRon': {
        '00000000-0000-0000-0000-000000000000': 'chika',
        'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa': 'you',
        'ffffffff-ffff-ffff-ffff-ffffffffffff': 'ruby'
    }
}
