# coding: utf8

HOST = '[place database host name here]'
PORT = [place port number here]
DB_NAME = '[place database name here]'
DB_USER = '[place database user here]'
DB_PASSWORD = '[place database password here]'
DB_CHARSET = '[place database charset here]'
